<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3 text-center my-4 ">
            <h2>Login to the account</h2>
            <h5>Please enter your email and password to log in to your account</h5>
            <form action="@Url.Action("LogInUser", "Auth")" method="post" class="align-items-center flex-column">
                <div class="form-group row mt-3">
                    <div class="col-md-12">
                        <input type="text" id="InputLogIn" class="form-control" name="HouseAddress" placeholder="Login">
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-md-12">
                        <input type="password" id="InputPassword" class="form-control" name="Password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group col mt-3">
                    <button type="submit" class="btn btn-outline-secondary">Log In</button>
                </div>
                <div class="form-group row mt-3">
                    <a class="mx-auto">Back to home</a>
                </div>
            </form>
        </div>
    </div>
</div>

