@model FlowMeter_WebService.ViewModels.SignupEmailViewModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3 text-center my-4 ">
            <h2>Set your password</h2>
            <h5>Please come up with a password and enter it below</h5>
            <form method="post" class="align-items-center flex-column">
                <input asp-for="ConsumerEmail" hidden />
                <div class="form-group row mt-3">
                    <div class="col-md-12">
                        <input type="password" id="password" class="form-control" name="password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-md-12">
                        <input type="password" id="ReTypePassword" class="form-control" name="ReTypePassword" placeholder="Re-type password">
                        @Html.ValidationMessageFor(model => model.ReTypePassword)
                    </div>
                </div>
                <div class="form-group col mt-3">
                    <button type="submit" class="btn btn-outline-secondary">Submit</button>
                </div>
                <div class="form-group row mt-3">
                    <a class="mx-auto">Back to home</a>
                </div>
            </form>
        </div>
    </div>
</div>
