@model Application.ViewModels.SignupEmailViewModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3 text-center my-4 ">
            <h2>Enter your email</h2>
            <h5>Please enter your email</h5>
            <form method="post" class="align-items-center flex-column">
                <div class="form-group row mt-3">
                    <div class="col-md-12">
                        <input type="text" id="ConsumerEmail" class="form-control" name="ConsumerEmail" placeholder="Enter your email">
                    </div>
                </div>

                <div class="text-danger">
                    @Html.ValidationMessageFor(model => model.ConsumerEmail)
                </div>

                <div class="form-group col mt-3">
                    <button type="submit" class="btn btn-outline-secondary">Submit</button>
                </div>
                <div class="form-group row mt-3">
                    <a class="link-primary" asp-area="" asp-controller="Home" asp-action="Index">Back to home</a>
                </div>
            </form>
        </div>
    </div>
</div>