@using Application.Services.Interfaces


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row mt-3">
                <label for="HouseAddress" class="col-form-label col-md-6">Адреса</label>
                <div class="col-md-6">
                    <input type="text" id="HouseAddress" class="form-control" name="HouseAddress">
                </div>
            </div>
            <div class="form-group row mt-3">
                <label for="HeatingAreaOfHouse" class="col-form-label col-md-6">Опалювальна площа</label>
                <div class="col-md-6">
                    <input type="number" min="1" id="HeatingAreaOfHouse" class="form-control" name="HeatingAreaOfHouse">
                </div>
            </div>
            <div class="form-group row mt-3">
                <label for="NumberOfFlat" class="col-form-label col-md-6">Кількість квартир</label>
                <div class="col-md-6">
                    <input type="number" min="1" id="NumberOfFlat" class="form-control" name="NumberOfFlat">
                </div>
            </div>
            <div class="form-group row mt-3">
                <label for="NumberOfResidents" class="col-form-label col-md-6">К-ть зареєстр. осіб</label>
                <div class="col-md-6">
                    <input type="number" min="1" id="NumberOfResidents" class="form-control" name="NumberOfResidents">
                </div>
            </div>
        </div>
    </div>
</div>
