@using Application.DTOS
@using Application.Services.Interfaces
@using System.ComponentModel.DataAnnotations

@{
    IHouseService houseService = (IHouseService)ViewContext.HttpContext.RequestServices.GetService(typeof(IHouseService));
    var houseOptions = await houseService.GetHouseOptions();
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row mt-3">
                <label for="HouseId" class="col-form-label col-md-6">Будинок</label>
                <div class="col-md-6">
                    <input class="form-control" list="houses" id="HouseAddress" name="HouseAddress" placeholder="Оберіть будинок">
                    <datalist id="houses">
                        @foreach (var item in houseOptions)
                        {
                            <option value="@item.HouseAddress"></option>
                        }
                    </datalist>
                </div>
            </div>
            <div class="form-group row mt-3">
                <label for="Price" class="col-form-label col-md-6">Ціна</label>
                <div class="col-md-6">
                    <input type="text" id="Price" class="form-control" name="Price">
                </div>
            </div>
            <div class="form-group row mt-3">
                <label for="TypeOfAccount" class="col-form-label col-md-6">Тип </label>
                <div class="col-md-6">
                    <select class="form-select building-select" id="TypeOfAccount" name="TypeOfAccount">
                        <option value="">Оберіть послугу</option>
                        @foreach (var type in Enum.GetValues(typeof(Application.Models.ServiceType)))
                        {
                            <option value="@type">@((type.GetType().GetField(type.ToString()).GetCustomAttributes(typeof(DisplayAttribute), false).Single() as DisplayAttribute).Name)</option>
                        }
                    </select>
                </div>
            </div>            
        </div>
    </div>
</div>
