@using Application.DTOS
@using Application.Services.Interfaces
@{
    IHouseService houseService = (IHouseService)ViewContext.HttpContext.RequestServices.GetService(typeof(IHouseService));
    var houseOptions = await houseService.GetHouseOptions();

    IConsumerService consumerServise = (IConsumerService)ViewContext.HttpContext.RequestServices.GetService(typeof(IConsumerService));
    var consumerOptions = await consumerServise.GetConsumerOptions();
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row mt-3">
                <label for="PersonalAccount" class="col-form-label col-md-6">Персональний рахунок</label>
                <div class="col-md-6">
                    <input class="form-control" list="personalAccounts" id="PersonalAccount" name="PersonalAccount" placeholder="Введіть персональний рахунок">
                    <datalist>
                        @foreach (var item in consumerOptions)
                        {
                            <option value="@item.PersonalAccount">@item.PersonalAccount</option>
                        }
                    </datalist>
                </div>
            </div>
            <div class="form-group row mt-3">
                <label for="Type" class="col-form-label col-md-6">Type</label>
                <div class="col-md-6">
                    <input type="text" id="Type" class="form-control" name="Type">
                </div>
            </div>
            <div class="form-group row mt-3">
                <label for="Amount" class="col-form-label col-md-6">Amount</label>
                <div class="col-md-6">
                    <input type="number" id="Amount" class="form-control" name="Amount" min="1">
                </div>
            </div>
            
        </div>
    </div>
</div>