<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3 text-center my-4 " >
            <h2>Verify your email</h2>
            <h5>A verification code has been sent to your email</h5>
            <h7>Please check your inbox and enter the verification code below to verify your email address.</h7>
            <form action="@Url.Action("SetPassword", "Main")" method="post" class="align-items-center flex-column">
                <div class="form-group row mt-3">
                    <div class="col">
                        <input type="numeric" pattern="[0-9]*"  id="Number1" class="form-control" name="Number1">
                    </div>
                    <div class="col">
                        <input type="numeric" pattern="[0-9]*" id="Number2" class="form-control" name="Number2">
                    </div>
                    <div class="col">
                        <input type="numeric" pattern="[0-9]*" id="Number3" class="form-control" name="Number3">
                    </div>
                    <div class="col">
                        <input type="numeric" pattern="[0-9]*" id="Number4" class="form-control" name="Number4">
                    </div>
                    <div class="col">
                        <input type="numeric" pattern="[0-9]*" id="Number5" class="form-control" name="Number5">
                    </div>
                </div>
                
                <div class="form-group col mt-3">
                    <button type="submit" class="btn btn-outline-secondary">Verify</button>
                </div>
                <div class="form-group row mt-3">
                    <a class="mx-auto">Back to home</a>
                </div>
            </form>
        </div>
    </div>
</div>