<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3 text-center my-4 " >
            <h2>Set your password</h2>
            <h5>Please come up with a password and enter it below</h5>
            <form action="@Url.Action("SetPassword", "Main")" method="post" class="align-items-center flex-column">
                <div class="form-group row mt-3">
                    <div class="col-md-12">
                        <input type="password" id="InputPassword" class="form-control" name="Password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-md-12">
                        <input type="password" id="Re-typePassword" class="form-control" name="Re-typePassword" placeholder="Re-type password">
                    </div>
                </div>
                <div class="form-group col mt-3">
                    <button type="submit" class="btn btn-outline-secondary">Submit</button>
                </div>
                <div class="form-group row mt-3">
                    <a class="mx-auto">Back to home</a>
                </div>
            </form>
        </div>
    </div>
</div>
