<table class="table table-bordered">
    <thead class="table-light">
        <tr>
            <th class="text-center">
                Service Type
            </th>
            <th class="text-center">
                Cost per unit
            </th>
            <th class="text-center">
                Current value of indicator
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>